<div class="container">

  <div class="search-bar">
    <input
      type="text"
      [(ngModel)]="searchText"
      placeholder="Search Todo"
      class="search"
    />
  </div>

  <div class="loader-container">
    <div *ngIf="!todos.length" class="loader"></div>
  </div>

  <div *ngFor="let todo of todos | searchPipe : searchText" class="todo">

    <div class="todo-info">
      <p><b>Title</b> -> "{{todo.title}}"</p>
      <p><b>Completed</b> -> "{{todo.completed}}"</p>
    </div>

  </div>

</div>
