<form [formGroup]="editForm" (ngSubmit)="onSubmit(editForm)" class="form">

  <button class="cancel-btn" type="button" (click)="onCancel()">Cancel</button>

  <div class="input-container">

    <label class="input-description">
      Name
      <input formControlName="name" placeholder="Name" class="input-field">
    </label>

    <div class="error"
         *ngIf="editForm.get('name').errors && editForm.get('name').touched">
      Please Provide Name.
    </div>

  </div>

  <div class="input-container">

    <label class="input-description">
      Email
      <input formControlName="email" placeholder="Email" class="input-field">
    </label>

    <div class="error"
         *ngIf="editForm.get('email').errors?.['email'] && editForm.get('email').touched">
      Please Provide Valid Email.
    </div>

    <div class="error"
         *ngIf="editForm.get('email').errors?.['required'] && editForm.get('email').touched">
      Please Provide Email.
    </div>

  </div>

  <div class="input-container">

    <label class="input-description">
      Body
      <input formControlName="body" placeholder="Body" class="input-field">
    </label>

    <div class="error"
         *ngIf="editForm.get('body').errors && editForm.get('body').touched">
      Please Provide Body.
    </div>

  </div>

  <div>
    <button type="submit" class="submit-btn" [disabled]="editForm.invalid">{{editingMode ? 'Edit' : 'Add'}}</button>
  </div>


</form>
