<div class="login-container">
  <h2>Login</h2>
  <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)">

    <input formControlName="email" class="login-input" type="text" placeholder="Email">

    <div class="email-error" *ngIf="loginForm.get('email').errors?.['required'] && loginForm.get('email').touched">
      Please Enter Email
    </div>

    <div class="email-error"
         *ngIf="loginForm.get('email').touched && loginForm.get('email').errors?.['email']">
      Please Enter Valid Email
    </div>

    <input formControlName="password" class="pass-input" type="password" placeholder="Password">

    <div class="password-error"
         *ngIf="loginForm.get('password').errors?.['required'] && loginForm.get('password').touched">
      Please Enter Password
    </div>

    <div class="password-error"
         *ngIf="loginForm.get('password').errors?.['minlength'] && loginForm.get('password').touched">
      Please Enter Valid
      Password (Min. Length 8)<br>
      <span>Current Length {{loginForm.get('password').value.length}}</span>
    </div>

    <button [class.button-loading]="btnLoading" [class.button-text]="btnLoading" class="submit-btn" type="submit"
            [disabled]="!loginForm.valid"><span class="button-text">Login</span>
    </button>

  </form>
</div>
